<h1>New Review for <%= @movie.name %></h1>

<%= form_with(model: [@movie, @review], local: true) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <h4>Ratings</h4>
  <div class="field">
    <%= form.radio_button :rating , 1 %>
    <%= form.label :one , '⭐1', :value=> 1 %>

    <%= form.radio_button :rating , 2 %>
    <%= form.label :two , '⭐2', :value=> 2 %>

    <%= form.radio_button :rating , 3 %>
    <%= form.label :three , '⭐3', :value=> 3 %>

    <%= form.radio_button :rating , 4 %>
    <%= form.label :four , "⭐4", :value=> 4 %>

    <%= form.radio_button :rating , 5 %>
    <%= form.label :five , "⭐5", :value=> 5 %>
  </div>
<br>
  <div class="field">
    <%= form.label :Command %>
    <br>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
<br>
<%= link_to "Back", movie_reviews_path(@movie),class: "btn btn-secondary" %>
